body{
    font-family: 'Barlow', sans-serif;
    /* font-family: 'Libre Franklin', sans-serif; */
}

header {
    background: linear-gradient(to right, #e6e8fc 0%,#cbcaf6 38%,#bfc1f5 53%,#b4bff4 100%);
    background-color: rgba(0, 0, 255, 0.455);
    color: black;
    padding: 20px 0 20px 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.btn {
    background-color: aqua;
    border-radius: 25px 25px 25px 25px;
    width:50%;
    font-size: 20px;
}
.btn:hover{
    background-color: rgb(3, 217, 217);
}
.search-form{
    text-align: center;
}
.form-input{
    width:100%;
    height:50px;
    font-size: 20px;
}
.card-header{
    padding:0.75rem;
    text-align: center;
}
.search-city{
    border-bottom: 2px solid rgba(0, 0, 0, 0.341);
}
.storage-city{
    padding-top: 20px;
    text-align: center;
}
ul li{
    list-style:none;
    width: max-content;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
li:hover{
    background-color: aqua;
    border-radius: 25px 25px 25px 25px;
}
.recent-city{
    padding-left:0;
    margin-bottom: 0;
}

.uv-index{
    border-radius: 7px 7px 7px 7px;
    padding: 5px 5px 5px 5px;
}
.five-day{
    min-height: 50px;
}
p{
    font-weight: 500;
}
.forecast-container{
    border-left:10px solid rgba(0, 0, 255, 0.455);
}

.current-date{
    font-size:24px;
    font-weight: bold;
}

.city-name{
    font-size:48px;
    font-weight: bold;
}

/* style="font-weight:bold font-size:48px" */